*{
    font-family: Arial;
    font-size: large;
    color: black;
    margin: 0;
    padding: 0;
}
img{
    height: 30%;
    border-radius: 40px;
    margin: 15px;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;

}

.cardInfo:hover{
        cursor: pointer;
        box-shadow: 0 0 15px 0 black;
    }

@media screen and (min-width: 700px){
    .cardInfo{
        align-items: left;
        display: flex;
        flex-direction: column;
    }
}
